* { 
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

#content {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #002b36;
  font-family: 'Lato';
  color: #839496; 
}

#header-container {
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 1vh;
  z-index: 100;
  box-shadow: 0 0px 6px rgba(0,0,0,0.16), 0 0px 6px rgba(0,0,0,0.23);
  padding-bottom: 1vh;
  background-color: inherit;
}

#header {
  margin-left: auto;
  margin-right: auto;
  font-size: 3vh;
  opacity: 0;
}

#header td {
  text-align: center;
  padding-right: 5vw;
}

#header td:nth-of-type(5) {
  padding-right: 0vw;
}

#header td a{
  text-decoration: none;
  color: inherit;
}

#greeting-container {
  font-size: 10vh;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 31vh;
  padding-bottom: 60vh;
}

#greeting {
  display: inline;
}

#cursor {
  color: #839496;
  display: inline;
}

.section-container {
  width: 100%;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.section-table{
  table-layout: fixed;
  width: 100%;
}

.section-header {
  font-weight: bold;
  font-size: 4vh;
  text-align: left !important;
  padding-bottom: 1vh;
}

.entry-header {
  font-size: 5vh;
  padding-top: 10vh;
  vertical-align: top;
}

.entry-title {
  text-align: left;
  width: 60%;
}

.entry-location {
  text-align: right;
  width: 10;
}

.entry-content {
  font-size: 3vh;
}

.entry-positon {
  font-style: italic;
}

.entry-bullet {
  padding-left: 20px;
  text-align: left;
  width: 160%;
  list-style-position: inside;
}

.entry-date {
  text-align: right;
  width: 10%;
}

.anchor {
  display: block;
  position: relative;
  top: -6vh;
  visibility: hidden;
}

#footer {
  width: 100%;
  text-align: center;
}

#signature {
  color: gray;
  font-size: 1.75vh;
  margin-top: 5vh;
  padding-bottom: 2vh;
}

.language {
  font-weight: bold;
}

.language:hover {
  background-image: url("images/paintstroke-lightblue.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.paint {
  background-image: url("images/paintstroke-black.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#tile-table td{
  width: 50vw;
  text-align: center;
}

.entry-tile {
  display: inline-block;
  height: 25vh;
  width: 90%;
  background: #ffffff;
  margin: 2%;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 80px #070509;
  border-radius: 16px;
}

.logo {
  display: inline-block;
  object-fit: contain;
  width: 35vw;
  height: 20vh;
}

.no-skills {
  padding-top: 3vh;
}

.entry-info {
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: #073642;
  display: none;
  box-shadow: 0 0px 6px rgba(0,0,0,0.16), 0 0px 6px rgba(0,0,0,0.23);
  padding-left: 3vw;
  padding-right: 3vw;
}

.entry-info-left {
  left: 0vw;
}

.entry-info-right {
  left: 50vw;
}

.entry-skills {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

#comment-section {
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 24px;
}

#comment-table {
  width: 100%;
}

#comment-entry {
  width: 75%;
}

#comment-limit {
  width: 25%;
}

#comment-form input{
  color: #839496;
  background-color: #002b36;
  box-shadow: 0 4px 80px #070509;
  border: 1px solid #2aa198;
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
  font-size: inherit;
}

#number-comments {
  color: #839496;
  background-color: #002b36;
  box-shadow: 0 4px 80px #070509;
  border: none;
  font-size: inherit;
}

#name {
  width: 25%;
}

#message {
  width: 60%
}

#delete-comments {
  color: #839496;
  background-color: #002b36;
  box-shadow: 0 4px 80px #070509;
  border: 1px solid #2aa198;
  border-radius: 5px;
  height: 20px;
  margin-left: 2px;
}