* { 
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

#content {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f4efef;
  font-family: 'Times New Roman', Times, serif;
  color: black; 
}

#header-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 1vh;
  background-color: #f4efef;
}

#header {
  margin-left: auto;
  margin-right: auto;
  font-size: 3vh;
  color: gray; 
  opacity: 0;
}

#header td {
  text-align: center;
  padding-right: 5vw;
}

#header td:nth-of-type(5) {
  padding-right: 0vw;
}

#header td a{
  text-decoration: none;
  color: gray;
}

#greeting-container {
  font-size: 10vh;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 31vh;
  padding-bottom: 60vh;
}

#greeting {
  display: inline;
}

#cursor {
  color: #f4efef;
  display: inline;
}

.section-container {
  color: #696969;
  width: 100%;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.section-table{
  table-layout: fixed;
  width: 100%;
}

.section-header {
  font-weight: bold;
  font-size: 4vh;
}

.entry-header {
  font-size: 3vh;
  padding-top: 2vh;
}

.entry-title {
  text-align: left;
  width: 90%;
}

.entry-location {
  text-align: right;
  width: 10;
}

.entry-content {
  font-size: 2vh;
}

.entry-positon {
  font-style: italic;
}

.entry-bullet {
  padding-left: 20px;
  text-align: left;
  width: 90%;
  list-style-position: inside;
}

.entry-date {
  text-align: right;
  width: 10%;
}

.anchor {
  display: block;
  position: relative;
  top: -3vh;
  visibility: hidden;
}